{% load static %}
<div class="container-fluid nav-bar bg-transparent">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
    <a
      href="{% url 'home' %}"
      class="navbar-brand d-flex align-items-center text-center"
    >
      <div class="icon p-2 me-2">
        <img
          class="img-fluid"
          src="{{STORE_LOGO}}"
          alt="Store Logo"
          style="width: 30px; height: 30px"
        />
      </div>
      {% if request.user.is_authenticated %}
      <h1 class="m-0 text-primary h3">Hello {{request.user.first_name}}</h1>
      {% else %}
      <h1 class="m-0 text-primary h3">{{STORE_NAME}}</h1>
      {% endif %}
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto">
        <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
        <a href="{% url 'products' %}" class="nav-item nav-link">Products</a>
        <a href="{% url 'cart' %}" class="nav-item nav-link">Orders</a>

        <a href="#aboutUs" class="nav-item nav-link">About</a>
        {% if request.user.is_authenticated %}
        <a
          href="{% url 'logout' %}"
          class="nav-item nav-link btn-danger px-3 text-light"
          >Logout</a
        >
        {% else %}
        <a
          href="{% url 'login_admin' %}"
          class="nav-item nav-link btn-danger px-3 text-light"
          >Login</a
        >

        {% endif %}
      </div>
    </div>
  </nav>
</div>
