{% load static %}
<div
  class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-4">Get In Touch</h5>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>{{SHOP_ADDRESS}}
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{PHONE_NUMBER}}</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{SHOP_EMAIL}}</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" target="_blank" href=""
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a class="btn btn-outline-light btn-social" target="_blank" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-light btn-social" target="_blank" href=""
            ><i class="fab fa-instagram"></i
          ></a>
          <a class="btn btn-outline-light btn-social" target="_blank" href=""
            ><i class="fab fa-tiktok"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-4">Quick Links</h5>
        <a class="btn btn-link text-white-50" href="#aboutUs">About Us</a>
        <a class="btn btn-link text-white-50" href="#productList">Shop Now!</a>
        <a class="btn btn-link text-white-50" href="#faq">FAQ</a>
        <a class="btn btn-link text-white-50" href="{{WHATSAPP_LINK}}">Help</a>
      </div>
    
      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-4">Newsletter</h5>
        <p>
          Stay updated with our latest deals, new arrivals, and exclusive
          offers — straight to your inbox.
        </p>

        <div class="position-relative mx-auto" style="max-width: 400px">
          <form action="" method="POST">
            {% csrf_token %}
            <input
              class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
              type="email"
              placeholder="Your email"
              name="email"
            />
            <button
              type="submit"
              class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
            >
              SignUp
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
