{% load static %}
<div
  class="container-fluid bg-primary mb-2 wow fadeIn"
  data-wow-delay="0.1s"
  style="padding: 35px"
>
  <div class="container">
    <div class="row g-2">
      <div class="col-md-10">
        <div class="row g-2">
          <div class="col-md-6">
            <input
              type="text"
              class="form-control border-0 py-3"
              placeholder="Search Products"
              id="searchKeyword"
            />
          </div>
          <div class="col-md-6">
            <select class="form-select border-0 py-3" id="searchCategory">
              <option selected>Category</option>
              {% for category in categories %}
              <option value="{{category.id}}">{{category.name}}</option>

              {% endfor %}
            </select>
          </div>
        
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-dark border-0 w-100 py-3" id="searchBtn">Search</button>
      </div>
    </div>
  </div>
</div>
