{% load static %}
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Our Customers Say!</h1>
      <p>
        Our customers are at the heart of everything we do. From top-quality
        gadgets to reliable delivery and after-sales support, we make sure every
        experience is smooth and satisfying. Here’s what some of our happy
        customers have to say.
      </p>
    </div>
    <div
      class="owl-carousel testimonial-carousel wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>
            I ordered a pair of wireless earbuds and got them the next day —
            exactly as described. The sound quality is top-notch, and customer
            service was very responsive.
          </p>
          <div class="d-flex align-items-center">
            <img
              class="img-fluid flex-shrink-0 rounded"
              src="{% static 'img/testimonial-1.jpg' %}"
              style="width: 45px; height: 45px"
            />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">Ibrahim</h6>
              <small>Port Harcourt</small>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>
            I’ve bought multiple gadgets here — from smartwatches to laptop
            accessories — and everything has been authentic and affordable.
            Definitely my go-to gadget store online.
          </p>
          <div class="d-flex align-items-center">
            <img
              class="img-fluid flex-shrink-0 rounded"
              src="{% static 'img/testimonial-2.jpg' %}"
              style="width: 45px; height: 45px"
            />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">Fola W.</h6>
              <small>Lagos</small>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>
            Had an issue with a phone I ordered, and their support team helped
            me replace it without stress. I really appreciate the
            professionalism.
          </p>
          <div class="d-flex align-items-center">
            <img
              class="img-fluid flex-shrink-0 rounded"
              src="{% static 'img/testimonial-3.jpg' %}"
              style="width: 45px; height: 45px"
            />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">Grace Obi</h6>
              <small>Owerri</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
