{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-xxl py-5">
  <div class="container">
	<h1 class="mb-4">Items in Your Cart</h1>
    <div class="row g-5" id="cartItems">

    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  window.APP_CONFIG = {
    ENABLE_ONLINE_PAYMENTS: {{ ENABLE_ONLINE_PAYMENTS|yesno:"true,false" }},
    WHATSAPP_NUMBER: "{{ WHATSAPP_NUMBER }}",
  };
</script>
<script type="module" src="{% static 'js/checkout.js' %}"></script>
{% endblock script %}
